
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
Asteroids/Library/
Asteroids/Library/assetDatabase3
Asteroids/Library/CurrentLayout.dwlt
Asteroids/Library/ScriptAssemblies/Assembly-CSharp.dll
/[Ll]ibrary/
Asteroids\Library\
Asteroids/Library/assetDatabase3
*.dwlt
*.dll
*.cache
Asteroids/.vs/Asteroids/v16/.suo
*.ide
*.ide-shm
*.ide-wal
